<nav class="container">
    <div class="logo"><a href="/">Abhishek Venkat</a></div>

    <div class="links">
        {{ range $a := (slice "about" "projects" "contact") }}
            <a class="link" href="{{ printf "%s%s" "/" $a }}">{{ $a | title }}</a>
        {{ end }}
    </div>

    <div class="mobile">
        <div class="menu-icon" id="nav">
            <span class="menu-icon__line menu-icon__line-left"></span>
            <span class="menu-icon__line"></span>
            <span class="menu-icon__line menu-icon__line-right"></span>
        </div>
    </div>

</nav>


<div class="overlay" id="mobile">

    <div class="mobile-menu">
        <a class="link" href="/">Home</a>
        {{ range $a := (slice "about" "projects" "contact") }}
            <a class="link" href="{{ printf "%s%s" "/" $a }}">{{ $a | title }}</a>
        {{ end }}
    </div>

</div>

<script>
    let m = document.getElementById("nav");
    let o = document.getElementById("mobile");
    m.addEventListener("click", function(){
        m.classList.toggle("active");
        o.classList.toggle("active");
    })

</script>