{{ define "main" }}

{{ partial "navbar.html" . }}

{{ $style := resources.Get "/sass/home.scss" | resources.ToCSS }}

<link rel="stylesheet" href="{{ $style.Permalink }}">


<div class="container">


    <div class="headline">

        <h1 class="hello-line">
            Hello, I'm a
            <span class="highlight">
                Developer
            </span>

        </h1>

    </div>

    <div class="subline">

        I write code for fun and for profit. Check out my <a href="/projects"><span class="highlight">stuff</span></a>!

    </div>


</div>

<script>


    window.onload = function () {

        let t = anime.timeline({
            easing: 'easeOutExpo',
            duration: 1000
        });


        t.add({
            targets: ".hello-line",
            marginLeft: 0,
            opacity: 1,
        }).add({
            targets: ".subline",
            marginLeft: 0,
            opacity: 1,
        }, 300).add({
            targets: ".logo",
            marginTop: 0,
            opacity: 1,
            duration: 1200
        }, 600).add({
            targets: ".links",
            marginRight: 0,
            opacity: 1,
            duration: 1400
        }, 800)


    }


</script>


{{ end }}